@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #333;
    --background-secondary: #ff9000;
    --letter-color: #fff;
    --letter-color-secondary: #ff9000;
    --btn-primary-color: #ff9000;
    --btn-secondary-color: transparent;
    --border-radius: 10px;
    --border-input-color: #fff;
    scroll-behavior: smooth;
  }

  html {
    @apply h-full w-full antialiased;
  }

  body {
    @apply h-full w-full overflow-x-hidden antialiased;
    background-color: var(--background-primary);
    color: var(--letter-color);
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply subpixel-antialiased;
  }

  a{
    text-decoration: none;
    color: var(--letter-color);
    font-size: 22px;
  }
}

@layer components {
  .btn-nav-login {
    background-color: var(--btn-secondary-color);
    color: var(--letter-color-primary);
    width: 120px;
    height: 45px;
    border: 2px solid var(--btn-primary-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
  }

  .btn-nav-login:hover {
    background-color: var(--btn-primary-color);
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 5px 5px rgba(185, 176, 176, 0.8);
  }

    .btn-nav-cadastro {
    background-color: var(--btn-secondary-color);
    color: var(--letter-color-primary);
   width: 150px;
    height: 45px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
  }

  .btn-nav-cadastro:hover {
    background-color: var(--btn-primary-color);
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 5px 5px rgba(185, 176, 176, 0.8);
  }

  .btn-home {
    background-color: var(--btn-primary-color);
    color: var(--letter-color);
    width: 312px;
    height: 68px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    perspective: 500px;
    transition: all 0.3s ease-in-out;
  }

  .btn-home:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 5px 5px rgba(185, 176, 176, 0.8);
  }

  .btn-inputs {
    background-color: var(--btn-primary-color);
    color: var(--letter-color);
    width: 844px;
    height: 73px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
  }

  .btn-inputs:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 5px 5px rgba(185, 176, 176, 0.8);
  }

  .input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }

  .input-container input {
    background-color: transparent;
    width: 844px;
    height: 55px;
    color: var(--letter-color);
    border: 1px solid var(--border-input-color);
    padding-left: 10px;
    outline: none;
  }

  .input-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .input-container input:focus + .input-label,
  .input-container input:not(:placeholder-shown) + .input-label {
    top: 0;
    font-size: 18px;
    color: var(--letter-color-primary);
    padding: 0 2px;
    transform: translateY(-110%);
  }
}


